---
import Layout from '../layouts/Layout.astro';
---

<Layout title="FixCore Tech">
  <section>
    <h1>FixCore Tech</h1>
    <p>Fast, Reliable Computer Repair & IT Support</p>

    <ul>
      <li>Windows Installation</li>
      <li>Virus Removal</li>
      <li>SSD Upgrades</li>
      <li>RAM Upgrades</li>
      <li>Linux Installation</li>
      <li>PC Optimization</li>
    </ul>

    <a href="/contact">Get Support</a>
  </section>
</Layout>
